body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}
a, a:hover, a:focus, a:active{
    outline: none;
    text-decoration: none;
    color: #000000;
}
.container{
    position: relative;
}
.of-header .container{
    height: 67px;
}
.of-logo{
    position: absolute;
    top: 10px;
    left: 15px;
}
.of-iconmntop{
    display: none;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #b7b7b7;
    font-size: 25px;
    cursor: pointer;
}
.of-menutop{
    position: absolute;
    top: 0;
    right: 201px;
}
.of-menutop li{
    float: left;
}
.of-menutop li a{
    display: block;
    height: 67px;
    padding: 10px 13px 0;
    font-size: 12px;
    color: #211f1f;
    text-align: center;
}
.of-menutop li a i{
    display: block;
    margin: 0 auto;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
}
.of-menutop li a span{
    display: block;
    padding: 3px 0;
}
.of-menutop li a:hover{
    background-color: #f3f3f3;
}

.of-imobile{
    width: 15px;
    background-position: -3px 0;
}
.of-menutop li.active a .of-imobile,
.of-menutop li a:hover .of-imobile{
    background-position: -3px -32px;
}
.of-itablet{
    width: 31px;
    background-position: -20px 0;
}
.of-menutop li.active a .of-itablet,
.of-menutop li a:hover .of-itablet{
    background-position: -20px -32px;
}
.of-iapple{
    width: 21px;
    background-position: -53px 0;
}
.of-menutop li.active a .of-iapple,
.of-menutop li a:hover .of-iapple{
    background-position: -53px -32px;
}
.of-ilaptop{
    width: 39px;
    background-position: -76px 0;
}
.of-menutop li.active a .of-ilaptop,
.of-menutop li a:hover .of-ilaptop{
    background-position: -76px -32px;
}
.of-iswatch{
    width: 19px;
    background-position: -334px 0;
}
.of-menutop li.active a .of-iswatch,
.of-menutop li a:hover .of-iswatch{
    background-position: -334px -32px;
}
.of-ipkien{
    width: 29px;
    background-position: -117px 0;
}
.of-menutop li.active a .of-ipkien,
.of-menutop li a:hover .of-ipkien{
    background-position: -117px -32px;
}
.of-imdt{
    width: 17px;
    background-position: -359px 0;
}
.of-menutop li.active a .of-imdt,
.of-menutop li a:hover .of-imdt{
    background-position: -359px -32px;
}
.of-ixahang{
    width: 35px;
    background-position: -180px 0;
}
.of-menutop li.active a .of-ixahang,
.of-menutop li a:hover .of-ixahang{
    background-position: -180px -32px;
}
.of-itragop{
    width: 24px;
    background-position: -217px 0;
}
.of-menutop li.active a .of-itragop,
.of-menutop li a:hover .of-itragop{
    background-position: -217px -32px;
}
.of-ikmai{
    width: 32px;
    background-position: -243px 0;
}
.of-menutop li.active a .of-ikmai,
.of-menutop li a:hover .of-ikmai{
    background-position: -243px -32px;
}
.of-itinhay{
    width: 28px;
    background-position: -277px 0;
}
.of-menutop li.active a .of-itinhay,
.of-menutop li a:hover .of-itinhay{
    background-position: -277px -32px;
}
.of-isimthe{
    width: 19px;
    background-position: -411px 0;
}
.of-menutop li.active a .of-isimthe,
.of-menutop li a:hover .of-isimthe{
    background-position: -411px -32px;
}
.of-ihoidap{
    width: 24px;
    background-position: -380px 0;
}
.of-menutop li.active a .of-ihoidap,
.of-menutop li a:hover .of-ihoidap{
    background-position: -380px -32px;
}
.of-samsung{
    width: 94px;
    background-position: -437px 0;
}
.of-menutop li.active a .of-samsung,
.of-menutop li a:hover .of-samsung{
    background-position: -437px -30px;
}

.of-search{
    position: absolute;
    top: 0;
    right: 120px;
    height: 67px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 0;
    font-size:12px;
    color: #211f1f;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}
.of-search span{
    display: block;
    padding: 3px 0;
}
.of-isearch{
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
    background-position: -306px 0;
}
.of-search:hover {
    background-color: #f3f3f3;
}
.of-search:hover .of-isearch{
    background-position: -306px -32px;
}
.of-call{
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
.of-call span{
    font-size: 12px;
    color: #211f1f;
}
.of-call p{
    font-size: 16px;
    font-weight: bold;
    color: #c91010;
}
.of-searchbox{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}
.of-slogo {
    margin-top: 10px;
    width: 150px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.of-searchbar{
    height: 67px;
    background-color: #000000;
}
.of-ipsearch{
    padding-right: 80px;
    margin-top: 15px;
    margin-left: 200px;
}
.of-closesearch{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.of-closepop{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
}

.of-footer{
    padding: 30px 0;
    text-align: center;
    background-color: #efefef;
    color: #000000;
}
.of-footer-link{
    margin-bottom: 10px;
    font-weight: bold;
}
.of-footer-link a{
    font-weight: bold;
    padding: 0 5px;
    color: #000000;
}

/*MEDIA*/
@media (min-width: 1260px) {
    .container{
        width: 1230px;
    }
}
@media (max-width: 1260px) {
	.of-menutop li a { 
		padding: 10px 11px 0;
	}
}
@media (max-width: 1200px) {
    .of-logo {
        top: 16px;
        width: 120px;
    }
    .of-menutop {
        right: 182px;
    }
    .of-menutop li a{
        padding: 10px 5px 0;
    }
    .of-search{
        padding: 10px 5px 0;
    }
}
@media (max-width: 992px) {
    .of-header .container {
        height: 60px;
    }
    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }
    .of-menutop{
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }
    .of-menutop li{
        width: 20%;
    }
    .of-mnshow{
        display: block !important;
    }
    .of-call {
        top: 10px;
    }
    .of-search{
        top: 7px;
        border: none;
        height: auto;
    }
    .of-search:after{
        content: " ";
        height: 30px;
        width: 1px;
        background: #cecece;
        position: absolute;
        right: -5px;
        top: 10px;
        z-index: 9;
    }
    .of-search:hover{
        background: none;
    }
    .of-search span{
        display: none;
    }
    .of-iconmntop {
        display: block;
    }
}
@media (max-width: 768px) {
    .of-ipsearch {
        padding-right: 40px;
        margin-left: 170px;
    }
}
@media (max-width: 480px) {
    .of-slogo{
        display: none;
    }
    .of-ipsearch {
        margin-left: 0;
    }
    .of-probox-img,
    .of-probox-info{
        width: 100%;
        float: none;
        padding: 15px;
    }
    .of-probox-btn li a {
        width: 100px;
    }
    .of-probox-tso ul li span {
        width: auto;
        font-weight: bold;
    }
    .of-menutop li {
        width: 25%;
    }
}
@media (max-width: 350px) {
    .of-logo {
        top: 17px;
        width: 100px;
    }
    .of-menutop li {
        width: 33.33%;
    }
}


/*autocomplete search main*/
.asmr {
    width: 100%;
    position: absolute;
    top: 34px;
    z-index: 10;
}
.asmr ul {
    background: #FFF;
    margin: 0 119px 0 0;
}
.asmr li.active,
.asmr li:hover {
    background: #ececec;
}
.asmr a {
    display: block;
    overflow: hidden;
    padding: 5px;
}
.asmr a img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
}
.asmr a span {
    display: block;
    font-weight: bold;
}
.asmr a label {
    display: block;
    margin: 10px 0 0 0;
    color: #F00;
}
.resultAutoComplete-home {
    padding: 0;
    margin-right: 80px;
    z-index: 100;
    font-size: 13px;
}
.resultAutoComplete-home ul li:hover {
    background: #eaeaea;
}
.fshop-search-cate {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-cate li {
    padding: 5px;
    cursor: pointer;
}
.fshop-search-cate a {
    font-size: 13px;
    color: #d41212;
    padding: 3px 5px;
    display: block;
    text-transform: uppercase;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-cate a:before {
    content: "⟶";
}
.fshop-search-cate a:hover {
    padding-left: 15px;
}
.fshop-search-catehd {
    height: 30px;
    line-height: 20px;
    background-color: #efefef;
    text-overflow: clip;
    overflow: hidden;
}
.fshop-search-catehd strong {
    font-weight: bold;
    color: #d41212;
}
.fshop-search-prod {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-prod li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
}
.fshop-search-prod li a {
    font-size: 13px;
    display: block;
}
.fshop-search-prod li:hover .fshop-search-prodimg {
    background: #FFFFFF;
}
.fshop-search-prod li:hover .fshop-search-prodinfo {
    padding-left: 15px;
}
.fshop-search-prodimg {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
}
.fshop-search-prodimg img {
    width: 40px;
    height: 40px;
}
.fshop-search-prodinfo {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    padding: 0 10px;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-prodprice {
    color: #d41212;
    font-weight: bold;
} 
.fshop-search-prodname {
    max-height: 30px;
    text-overflow: clip;
    overflow: hidden;
}
@media(max-width: 768px){
    .asmr ul {
        margin: 0 79px 0 0;
    }
}

/*landing*/
.of-header{
    border-bottom: 1px solid #cccccc;
}
.ha-s1{
    padding: 80px 15px 30px;
}
.ha-s1tb{
    display: table;
    width: 100%;
}
.ha-s1td1{
    width: 55%;
    text-align: right;
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
}
.ha-s1td2{
    width: 45%;
    padding-left: 60px;
    display: table-cell;
    vertical-align: top;
}

.ha-s1c1{
    text-align: right;
}
.ha-s1b1{
    display: inline-block;
    text-align: center;
}
.ha-s1btn{
    display: inline-block;
    height: 57px;
    line-height: 57px;
    text-align: center;
    padding: 0 64px;
    margin: 25px 0;
    font-size: 24px;
    color: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: -moz-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5515f), color-stop(100%, #9f041b)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* ie10+ */
    background: linear-gradient(90deg, #f5515f 0%, #9f041b 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5515f', endColorstr='#9f041b',GradientType=1 ); /* ie6-9 */
}
.ha-s1btn:hover,
.ha-s1btn:active,
.ha-s1btn:focus{
    color: #ffffff;
}
.ha-s1b2{
    font-size: 26px;
    color: #111111;
}
.ha-s1b2 strong{
    font-weight: bold;
    color: #57bcc4;
}

.ha-menu{
    height: 70px;
    background: #60bbc7
}
.ha-logo{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
}
.ha-logo span{
    display: none;
}
.ha-mnul{
    float: right;
    margin-right: 250px;
}
.ha-mnul>li{
    float: left;
    padding: 0 15px;
}
.ha-mnul>li>a{
    display: inline-block;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.ha-mnul>li>a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.ha-mnul>li>a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f5515f;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.ha-mnul>li>a:hover:before,
.ha-mnul>li>a:focus:before,
.ha-mnul>li>a:active:before {
    left: 0;
    right: 0;
}
.ha-mnbtn{
    position: absolute;
    top: 0;
    right: 15px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    padding: 0 39px;
    font-size: 24px;
    color: #ffffff;
    background: -moz-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5515f), color-stop(100%, #9f041b)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #f5515f 0%, #9f041b 100%); /* ie10+ */
    background: linear-gradient(90deg, #f5515f 0%, #9f041b 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5515f', endColorstr='#9f041b',GradientType=1 ); /* ie6-9 */
}
.ha-mnbtn:hover,
.ha-mnbtn:focus,
.ha-mnbtn:active{
    color: #ffffff;
}
.ha-mnfix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.ha-s2{
    padding: 75px 0;
    background: #f0fcff;
}
.ha-stit{
    font-size: 28px;
    font-weight: bold;
    color: #111111;
    line-height: 1.29;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.ha-ssub{
    font-size: 18px;
    line-height: 1.78;
    color: #111111;
}

.ha-s3{
    height: 585px;
    background: url("../images/bg3.jpg") no-repeat bottom right;
    -webkit-background-size: cover;
    background-size: cover;
}
.ha-s3box{
    padding-top: 170px;
    width: 100%;
    max-width: 500px;
}
.ha-s3box .ha-stit,
.ha-s3box .ha-ssub{
    color: #ffffff;
}

.ha-s4{
    padding: 50px 0;
}
.ha-s4box{
    text-align: right;
    padding-top: 100px;
}

.ha-s5{
    background: #f8f8f8;
    padding: 50px 0;
}
.ha-s5hd{
    font-size: 28px;
    font-weight: bold;
    color: #3c3c3c;
    margin-bottom: 15px;
}
.ha-s5ts li{
    display: table;
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    color: #3c3c3c;
    border-bottom: 1px solid #d7d7d7;
}
.ha-s5ts li label{
    display: table-cell;
    vertical-align: top;
    width: 220px;
    font-weight: bold;
}
.ha-s5ts li span{
    display: table-cell;
    vertical-align: top;
}
.ha-s6{
    padding: 50px 0;
}
.ha-s6t1{
    font-size: 22px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 5px;
}
.ha-s6t2{
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
.ha-s6t2 span,
.ha-s6t2 ul,
.ha-s6t2 ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.ha-s6t2 ul li i{
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.ha-s6t3{
    margin-bottom: 5px;
}
.ha-s6t4{
    color: #4a4a4a;
    margin-bottom: 10px;
}
.ha-s6t4 strong{
    font-weight: bold;
    color: #cb1c22;
    font-size: 25px;
}
.ha-s6btn{
    display: block;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    background-color: #cb1c22;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.ha-s6btn:hover,
.ha-s6btn:active,
.ha-s6btn:focus{
    color: #ffffff;
}
.ha-s6box{
    width: 100%;
    max-width: 450px;
    margin-left: 50px;
    padding-top: 50px;
}
.ha-s7{
    background: #f0fcff;
    padding: 50px 0;
}
.ha-s7hd{
    font-size: 24px;
    margin-bottom: 15px;
}
.ha-s7hd strong{
    color: #124191;
    font-weight: bold;
}
.ha-s7tl{
    max-height: 380px;
    overflow: auto;
    padding: 15px;
    background-color: #ffffff;
    border: solid 1px #bcbcbc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.ha-s7ip{
    margin-bottom: 15px;
}
.ha-s7tb{
    background: #ffffff;
    max-height: 330px;
    overflow: auto;
}
.ha-s7tb table thead tr td{
    background: #6ec6cb;
    color: #ffffff;
}
.ha-cmt{
    padding: 30px 0;
}

.ha-s1kmmb{
    display: none;
    text-align: center;
}
.ha-s3img{
    display: none;
}
.ha-s3img img{
    width: 100%;
}

@media (max-width: 1280px) {
    .ha-s3 {
        height: 585px;
        background: url("../images/bg3.jpg") no-repeat 53% 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
}
@media (max-width: 1200px) {
    .ha-s6box{
        margin-left: 0;
    }
    .ha-s5ts li {
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .ha-mnul{
        display: none;
    }
    .ha-s2img{
        padding-top: 20px;
    }
    .ha-s1td1,
    .ha-s1td2{
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .ha-s1 {
        padding: 40px 15px 30px;
    }
    .ha-s2 {
        padding: 40px 0;
        text-align: center;
    }
    .ha-s4{
        text-align: center;
        padding: 40px 0;
    }
    .ha-s4box {
        text-align: center;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .ha-s5sl{
        margin-bottom: 30px;
    }
    .ha-s6box {
        max-width: initial;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .ha-s7tl{
        margin-bottom: 30px;
    }
    .ha-s3 {
        position: relative;
        height: auto;
        background: #d4192c;
    }
    .ha-stit {
        font-size: 18px;
    }
    .ha-ssub {
        font-size: 14px;
    }
    .ha-s3img{
        display: block;
    }
    .ha-s3main{
        background: #d2182b;
        text-align: center;
    }
    .ha-s3box {
        padding-top: 40px;
        width: 100%;
        max-width: inherit;
    }
    .ha-s1kmmb{
        display: block;
    }
    .ha-s1km{
        display: none;
    }
    .ha-s5ts li label {
        width: 150px;
    }
    .ha-mnbtn {
        padding: 0 20px;
        font-size: 16px;
    }
}